:root {
    --transparent: rgba(0, 0, 0, 0);
    --light-border: rgba(0, 0, 0, 0.4);
    --shadow: rgba(0, 0, 0, 0.2);
    --border-radius-light: 0.4em;
    --border-radius-medium: 0.6em;
    --border-radius-strong: 0.8em;
    --default-padding: 1em;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

main {
    display: flex;
    padding: var(--default-padding);
    box-sizing: border-box;
    gap: 0.4em;
    height: 255px;
}

h1 {
    font-size: 3;
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
}

h3 {
    font-size: 2.5;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

h4 {
    font-size: 2;
}

form {
    width: 30%;
    height: fit-content;
    padding: var(--default-padding);
    border: 1px solid var(--light-border);
    box-sizing: border-box;
    border-radius: var(--border-radius-light);
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    box-shadow: 0 0 4px 0 var(--shadow);
}

label {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2em;
}

.labels {
    width: 100%;
}

input {
    padding: 0.4em;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--light-border);
    border-radius: var(--border-radius-light);
}

button {
    flex: 1;
    text-align: center;
    padding: 1em 0.4em;
    background-color: black;
    color: white;
    border-radius: var(--border-radius-light);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-2px);
}

.list-view-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 1px solid var(--light-border);
    height: 100%;
    padding: var(--default-padding);
    box-sizing: border-box;
    gap: 0.4em;
    overflow-y: auto;
    border-radius: var(--border-radius-light);
}

.list-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid var(--light-border);
    box-shadow: 0 0 4px 0 var(--shadow);
    padding: 0.4em;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.list-item:hover {
    transform: scale(1.1, 1.1);
    cursor: default;
}

.person-name {
    width: 100%;
}

.person-email {
    opacity: 0.6;
    font-style: italic;
}
